{% extends 'base/ancestor_factory_workshop.html' %}
{% load template_filters %}

<!-- 头文件，主要是 css 文件 -->
{% block head %}
<style>
.workshop-nav {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        z-index: 1000;
    }
    .workshop-nav ul {
        display: flex;
        gap: 15px;
        padding: 0.5rem;
        margin: 0;
        list-style: none;
    }
    .workshop-nav a {
        text-decoration: none;
        color: #333;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        transition: 0.3s;
    }
    .workshop-nav a.active {
        background: #2196F3;
        color: white;
    }

    .workshop-section {
        {#padding: 100px 20px 40px;#}
        padding-top: 60px;
        min-height: 100vh;
    }
</style>
{% endblock %}

<!-- 标题 -->
{% block title %}{% endblock %}

<!-- 内容 -->
{% block content %}
<!-- 车间导航 -->
<nav class="workshop-nav">
    <ul>
        {% for ws in workshops %}
        <li class="nav-item">
            <a href="#section-{{ forloop.counter }}" class="nav-link {% if forloop.first %}active{% endif %}">
                {{ ws }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
{#{% for attendance in attendance_dic %}#}
{% for workshop, data in workshop_dataset.items %}
<section id="section-{{ forloop.counter }}" class="workshop-section">
    <div class="container-fluid">
        <div class="row col-10 offset-1">
            <div class="d-flex flex-column">
                <!-- 运营日报 -->
                <div class="fs-3 text-secondary mb-1">{{ date }}</div>
                <!-- 衢州工厂 A车间 -->
                <div class="mb-4"><h4 class="text-primary">{{ factory }}工厂 {{ workshop }} 生产运营日报</h4></div>
                <!-- 运营指标 -->
                <div class="row mt-2">
                    <div class="mr-2">
                        <!-- coin -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-coin text-primary" viewBox="0 0 16 16">
                            <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"></path>
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                            <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"></path>
                        </svg>
                    </div>
                    <div><h5>运营指标</h5></div>
                </div>
                <p>
                    <span>OWE：</span><span class="ml-1 {{ owe_text_color }}">{{ owe_actual_owe | percentage:2 }}</span><span class="text-secondary"> / {{ owe_target_owe | percentage:2 }}；</span>
                    <span>RFT：</span><span class="text-secondary ml-1">92% / 95%；</span>
                    <span>BTS：</span><span class="text-secondary ml-1">82.5% / 95%；</span>
                </p>
                <!-- 员工出勤 -->
                <div class="row mt-2">
                    <div class="mr-2">
                        <!-- coin -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-coin text-primary" viewBox="0 0 16 16">
                            <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"></path>
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                            <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"></path>
                        </svg>
                    </div>
                    <div><h5>员工出勤</h5></div>
                </div>
                <p>
                    <span>应出勤人数：</span><span class="text-secondary ml-1 ml-1">{{ data.attendance.employees }}人；</span>
                    <span>实际出勤人数：</span><span class="text-secondary ml-1 ml-1">{{ data.attendance.attendances }}人；</span>
                    <span>出勤率：</span><span class="text-secondary ml-1 ml-1">{{ data.attendance.attendance_rate | percentage:2 }}；</span>
                    <span>操作工出勤：</span><span class="text-secondary ml-1 ml-1">{{ data.attendance.operator_attendances }} / {{ data.attendance.operators }}人；</span>
                    <span>辅工出勤：</span><span class="text-secondary ml-1 ml-1">{{ data.attendance.trimmer_attendances }} / {{ data.attendance.trimmers }}人；</span>
                    <span>物料员出勤：</span><span class="text-secondary ml-1 ml-1">{{ data.attendance.material_handler_attendances }} / {{ data.attendance.material_handlers }}人；</span>
                    <span>QC出勤：</span><span class="text-secondary ml-1 ml-1">{{ data.attendance.qcs }} / {{ data.attendance.qc_attendances }}人；</span>
                </p>
                <!-- 关键设备 -->
                <div class="row mt-2">
                    <div class="mr-2">
                        <!-- coin -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-coin text-primary" viewBox="0 0 16 16">
                            <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"></path>
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                            <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"></path>
                        </svg>
                    </div>
                    <div><h5>关键设备</h5></div>
                </div>
                {% for machine in data.machine %}
                <p>
                    <span>设备名称：</span><span class="text-secondary ml-1 ml-1">{{ machine.machine_name }}；</span>
                    <span>设备编号：</span><span class="text-secondary ml-1 ml-1">{{ machine.machine_code }}；</span>
                    <span>运行时间：</span><span class="text-secondary ml-1 ml-1">{{ machine.running_time }}小时；</span>
                    <span>设备调试：</span><span class="text-secondary ml-1 ml-1">{{ machine.adjustment }}小时；</span>
                    <span>设备维修：</span><span class="text-secondary ml-1 ml-1">{{ machine.repairing }}；</span>
                    <span>等待停机：</span><span class="text-secondary ml-1 ml-1">{{ machine.waiting }}小时；</span>
                    <span>故障停机：</span><span class="text-secondary ml-1 ml-1">{{ machine.breakdown }}小时；</span>
                    <span>转款生产：</span><span class="text-secondary ml-1 ml-1">{{ machine.changeover }}小时；</span>
                </p>
                {% endfor %}
                <!-- 生产产量 -->
                <div class="row mt-2">
                    <div class="mr-2">
                        <!-- coin -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-coin text-primary" viewBox="0 0 16 16">
                            <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"></path>
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                            <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"></path>
                        </svg>
                    </div>
                    <div><h5>产量和质量</h5></div>
                </div>
                {% for style in data.style %}
                <p>
                    <span>款式名称：</span><span class="text-secondary ml-1 ml-1">{{ style.style_name }}；</span>
                    <span>款式编码：</span><span class="text-secondary ml-1 ml-1">{{ style.style_code }}；</span>
                    <span>计划产量：</span><span class="text-secondary ml-1 ml-1">{{ style.planning }}；</span>
                    <span>完成数量：</span><span class="text-secondary ml-1 ml-1">{{ style.achieved }}件；</span>
                    <span>疵品数量：</span><span class="text-secondary ml-1 ml-1">{{ style.defects }}件；</span>
                    <span>疵品类型A：</span><span class="text-secondary ml-1 ml-1">{{ style.defect_a }}件；</span>
                    <span>疵品类型B：</span><span class="text-secondary ml-1 ml-1">{{ style.defect_b }}件；</span>
                    <span>疵品类型C：</span><span class="text-secondary ml-1 ml-1">{{ style.defect_c }}件；</span>
                </p>
                {% endfor %}
                <!-- 问题反馈 -->
                <div class="row mt-2">
                    <div class="mr-2">
                        <!-- coin -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-coin text-primary" viewBox="0 0 16 16">
                            <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"></path>
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                            <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"></path>
                        </svg>
                    </div>
                    <div><h5>问题反馈</h5></div>
                </div>
                <p>
                    <span>低效人员：</span><span class="text-secondary ml-1 ml-1">3人；</span>
                    <span>停滞时间：</span><span class="text-secondary ml-1 ml-1">2小时；</span>
                    <span>瑕疵物料：</span><span class="text-secondary ml-1 ml-1">关键物料A WLBH009；</span>
                    <span>工艺变更：</span><span class="text-secondary ml-1 ml-1">关键款式B KSBH007；</span>
                    <span>报废产品：</span><span class="text-secondary ml-1 ml-1">0件；</span>
                    <span>安全事故：</span><span class="text-secondary ml-1 ml-1">0件；</span>
                    <span>5S管理：</span><span class="text-secondary ml-1 ml-1">7分；</span>
                </p>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}

<!-- 右侧侧边栏 控制栏 -->
{% block control-sidebar %}{% endblock %}

<!-- 文件末尾的 JavaScript 文件-->
{% block script %}
<script>
document.querySelectorAll('.nav-link').forEach(link => {
    // 监听每个 .nav-link 的链接，
    link.addEventListener('click', function (e) {
        e.preventDefault();
        // 获取链接对应的目标对象的id，比如 #section-1
        const targetId = this.getAttribute('href');
        // 获取目标对象
        const targetSection = document.querySelector(targetId);
        console.log(targetId)

        // 获取所有的 .nav-link 链接，移除类 .active
        document.querySelectorAll('.nav-link').forEach(item => item.classList.remove('active'));
        // 在被点击的链接（当前链接）上添加类 .active
        this.classList.add('active')

        // 目标对象滚入视窗，目标对象的起始部位进入默认位置
        targetSection.scrollIntoView({
            behavior: 'smooth',
            block: 'start'
        });
    });
});

window.addEventListener('scroll', () => {
    const sections = document.querySelectorAll('.workshop-section');
    let currentSection = '';

    sections.forEach(section => {
        const sectionTop = section.offsetTop;
        if (window.scrollY >= sectionTop - 100) {
            currentSection = section.getAttribute('id');
        }
    });

    document.querySelectorAll('.nav-link').forEach(link => {
        link.classList.toggle('active', link.getAttribute('href') === `#${currentSection}`)
    })
});
</script>
{% endblock %}

